body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #575757;
    background-color: rgb(255, 238, 217);}
li {
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    text-decoration: unset;}
a {
    color: rgb(141, 0, 0);
    text-decoration: none;}
a:hover {text-decoration: underline;}
.listheaders {
    font-weight: bold;
    font-style: normal;}
.underline { text-decoration: underline;}
.bold {font-weight: bold;}